<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.101.0">
  <title>Adopta</title>
  <link href="css/aos.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="css/dashboard.css" rel="stylesheet"> -->
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="w-100 ">
    <header>
      <%- include('../views/layout/header.ejs'); %>
    </header>
    <!-- <div class="wrapper">
      <nav>
        <div class="items">
          <span class="item active" data-name="all">Todos</span>
          <span class="item" data-name="all">Gatos</span>
          <span class="item" data-name="all">Perros</span>
        </div>
      </nav>
    </div> -->

    <div class="container justify-content-center">
      <div class="cardsadopta row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-3 "
        id="card-template">
      </div>
    </div>
  </div>
  <footer class=" text-black-50 text-center mt-5">
    <%- include('../views/layout/footer.ejs'); %>
  </footer>
  <script src="/js/cards.js"></script>
  <script src="/js/aos.js"></script>
  <script>
      AOS.init({
          duration: 2000
      });
  </script>



</body>

</html>