<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <header >
        <nav class="navbar bg-light">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="/img/logo.png" alt="Colombia" width="50" height="50">
              </a>
              
              <div class=" nav">
                <a class="nav-link disabled" aria-current="page" href="#">Home</a>
                <a class="nav-link disabled">Sitios</a>
                <a class="nav-link disabled" >Contact</a>
          
              </div>

            </div>
            
          </nav>
          
    
      </header>


</html>