<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cover Template · Bootstrap v5.2</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">


</head>

<body>
    <div class="w-100 text-center">
        <header>

            <%- include('../views/header.ejs'); %>

        </header>


    </div>

</body>

</html>