<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <header >
        <nav class="navbar bg-light">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="/img/adoptame.png" alt="Colombia" width="50" height="50">
              </a>

              <div class=" nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="adopta">Adopta</a>
                <a class="nav-link" href="contact">Contact</a>
                <a class="nav-link disabled">Bienvenido: <% if (user) { %>
                    <p class="badge bg-success"><%= user.name %></p>
                  <% } %></a>
                  <!-- <a class="nav-link" href="logout">Logout</a> -->
                  <a type="button" class="salir" href="logout">Logout</a>



              </div>

            </div>

          </nav>


      </header>


</html>